<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="schedulerTasksWeb"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
		 	<!-- 
		 		<ref bean="refreshCacheTrigger" />
		  	-->
			</list>
		</property>
	</bean>

	
	<!--<bean id="refreshCacheDetail"-->
		<!--class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
	 	<!--<property name="concurrent" value="false" />-->
		<!--<property name="targetObject" ref="refreshCacheTask" />-->
		<!--<property name="targetMethod" value="excute" />-->
	<!--</bean>-->
	<!---->
	<!--<bean id="refreshCacheTrigger"-->
		<!--class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
		<!--<property name="jobDetail" ref="refreshCacheDetail" />-->
		<!--<property name="cronExpression" value="0 0 0/6 * * ?" />-->
	<!--</bean>	-->
	
</beans>
